
#_1
{
    width:1024px;
	height:1292px;
	left:null;
	top:null;
	opacity:1;
	margin-left:auto;
	margin-top:0px;
	margin-right:auto;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	background-image:url('null');
	background-repeat:repeat;
	background-size:contain;
	overflow:visible;
	position:relative;
	
}

#_2
{
    width:61px;
	height:30px;
	left:54px;
	top:22px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	
}

#_3
{
    width:26px;
	height:19px;
	left:126px;
	top:27px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:14px;
	color:#515151;
	overflow:visible;
	line-height:14px;
	white-space:nowrap;
	
}

#_4
{
    text-align:left;
	left:0px;
	width:26px;
	margin:0px;
	font-size:14px;
	line-height:14px;
	top:3px;
	
}

#_5
{
    width:395px;
	height:29px;
	left:570px;
	top:22px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	
}

#_6
{
    width:37px;
	height:19px;
	left:0px;
	top:5px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:14px;
	text-decoration:underline;
	color:#0088cc;
	overflow:visible;
	line-height:14px;
	white-space:nowrap;
	
}

#_7
{
    text-align:left;
	left:0px;
	width:37px;
	margin:0px;
	font-size:14px;
	line-height:14px;
	top:3px;
	
}

#_8
{
    width:40px;
	height:19px;
	left:75px;
	top:5px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:14px;
	text-decoration:underline;
	color:#0088cc;
	overflow:visible;
	line-height:14px;
	white-space:nowrap;
	
}

#_9
{
    text-align:left;
	left:0px;
	width:40px;
	margin:0px;
	font-size:14px;
	line-height:14px;
	top:3px;
	
}

#_10
{
    width:44px;
	height:19px;
	left:153px;
	top:5px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:14px;
	text-decoration:underline;
	color:#0088cc;
	overflow:visible;
	line-height:14px;
	white-space:nowrap;
	
}

#_11
{
    text-align:left;
	left:0px;
	width:44px;
	margin:0px;
	font-size:14px;
	line-height:14px;
	top:3px;
	
}

#_12
{
    width:28px;
	height:19px;
	left:235px;
	top:5px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:14px;
	text-decoration:underline;
	color:#0088cc;
	overflow:visible;
	line-height:14px;
	white-space:nowrap;
	
}

#_13
{
    text-align:left;
	left:0px;
	width:28px;
	margin:0px;
	font-size:14px;
	line-height:14px;
	top:3px;
	
}

#_14
{
    width:190px;
	height:35px;
	left:510px;
	top:181px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:25px;
	color:#515151;
	overflow:visible;
	line-height:25px;
	white-space:nowrap;
	
}

#_15
{
    text-align:left;
	left:0px;
	width:190px;
	margin:0px;
	font-size:25px;
	line-height:25px;
	top:5px;
	
}

#_16
{
    width:0px;
	height:29px;
	left:510px;
	top:227px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:21px;
	color:#515151;
	overflow:visible;
	line-height:21px;
	white-space:nowrap;
	
}

#_17
{
    text-align:left;
	left:0px;
	width:0px;
	margin:0px;
	font-size:21px;
	line-height:21px;
	top:4px;
	
}

#_18
{
    width:171px;
	height:26px;
	left:510px;
	top:155px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:14px;
	color:#515151;
	overflow:hidden;
	line-height:14px;
	
}

#_19
{
    text-align:left;
	left:0px;
	width:171px;
	margin:0px;
	font-size:14px;
	line-height:14px;
	top:3px;
	
}

#_20
{
    width:322px;
	height:29px;
	left:510px;
	top:229px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:21px;
	color:#515151;
	overflow:visible;
	line-height:21px;
	white-space:nowrap;
	
}

#_21
{
    text-align:left;
	left:0px;
	width:322px;
	margin:0px;
	font-size:21px;
	line-height:21px;
	top:4px;
	
}

#_22
{
    width:0px;
	height:29px;
	left:510px;
	top:270px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:21px;
	color:#515151;
	overflow:visible;
	line-height:21px;
	white-space:nowrap;
	
}

#_23
{
    text-align:left;
	left:0px;
	width:0px;
	margin:0px;
	font-size:21px;
	line-height:21px;
	top:4px;
	
}

#_24
{
    width:287px;
	height:29px;
	left:510px;
	top:258px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:21px;
	color:#515151;
	overflow:visible;
	line-height:21px;
	white-space:nowrap;
	
}

#_25
{
    text-align:left;
	left:0px;
	width:287px;
	margin:0px;
	font-size:21px;
	line-height:21px;
	top:4px;
	
}

#_26
{
    width:316px;
	height:262px;
	left:132px;
	top:141px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	
}

#_27
{
    width:89px;
	height:19px;
	left:246px;
	top:175px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:14px;
	color:#515151;
	overflow:visible;
	line-height:14px;
	white-space:nowrap;
	
}

#_28
{
    text-align:left;
	left:0px;
	width:89px;
	margin:0px;
	font-size:14px;
	line-height:14px;
	top:3px;
	
}

#_29
{
    width:927px;
	height:475px;
	left:52px;
	top:621px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_30
{
    width:197px;
	height:42px;
	left:774px;
	top:1190px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:3px;
	border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-ms-border-bottom-left-radius:4px;
	-o-border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-ms-border-bottom-right-radius:4px;
	-o-border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-ms-border-top-left-radius:4px;
	-o-border-top-left-radius:4px;
	border-top-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-top-right-radius:4px;
	-ms-border-top-right-radius:4px;
	-o-border-top-right-radius:4px;
	overflow:hidden;
	border-color:#ccc;
	border-style:solid;
	background:#fff;
	font-family:Comic Sans MS;
	font-size:14px;
	color:#515151;
	line-height:0px;
	
}

#_31
{
    width:1024px;
	height:22px;
	left:0px;
	top:495px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	-moz-transform: scaleY(-1);
	-ms-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_34
{
    width:145px;
	height:35px;
	left:437px;
	top:548px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:25px;
	color:#515151;
	overflow:visible;
	line-height:25px;
	white-space:nowrap;
	
}

#_35
{
    text-align:left;
	left:0px;
	width:145px;
	margin:0px;
	font-size:25px;
	line-height:25px;
	top:5px;
	
}

#_36
{
    width:331px;
	height:239px;
	left:141px;
	top:655px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	
}

#_37
{
    width:0px;
	height:35px;
	left:141px;
	top:912px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:25px;
	color:#515151;
	overflow:visible;
	line-height:25px;
	white-space:nowrap;
	
}

#_38
{
    text-align:left;
	left:0px;
	width:0px;
	margin:0px;
	font-size:25px;
	line-height:25px;
	top:5px;
	
}

#_39
{
    width:184px;
	height:29px;
	left:141px;
	top:919px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:21px;
	color:#515151;
	overflow:visible;
	line-height:21px;
	white-space:nowrap;
	
}

#_40
{
    text-align:left;
	left:0px;
	width:184px;
	margin:0px;
	font-size:21px;
	line-height:21px;
	top:4px;
	
}

#_41
{
    width:337px;
	height:64px;
	left:141px;
	top:956px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:14px;
	color:#515151;
	overflow:hidden;
	line-height:15px;
	
}

#_42
{
    text-align:left;
	left:0px;
	width:337px;
	margin:0px;
	font-size:14px;
	line-height:15px;
	top:2px;
	
}

#_43
{
    width:111px;
	height:19px;
	left:141px;
	top:1029px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:14px;
	text-decoration:underline;
	color:#0088cc;
	overflow:visible;
	line-height:14px;
	white-space:nowrap;
	
}

#_44
{
    text-align:left;
	left:0px;
	width:111px;
	margin:0px;
	font-size:14px;
	line-height:14px;
	top:3px;
	
}

#_45
{
    width:null;
	height:null;
	left:-1340px;
	top:-760px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_46
{
    width:null;
	height:null;
	left:-1340px;
	top:-760px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_47
{
    width:null;
	height:null;
	left:-1340px;
	top:-760px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_48
{
    width:331px;
	height:239px;
	left:549px;
	top:655px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	
}

#_49
{
    width:0px;
	height:35px;
	left:549px;
	top:912px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:25px;
	color:#515151;
	overflow:visible;
	line-height:25px;
	white-space:nowrap;
	
}

#_50
{
    text-align:left;
	left:0px;
	width:0px;
	margin:0px;
	font-size:25px;
	line-height:25px;
	top:5px;
	
}

#_51
{
    width:184px;
	height:29px;
	left:549px;
	top:919px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:21px;
	color:#515151;
	overflow:visible;
	line-height:21px;
	white-space:nowrap;
	
}

#_52
{
    text-align:left;
	left:0px;
	width:184px;
	margin:0px;
	font-size:21px;
	line-height:21px;
	top:4px;
	
}

#_53
{
    width:337px;
	height:64px;
	left:549px;
	top:956px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:14px;
	color:#515151;
	overflow:hidden;
	line-height:15px;
	
}

#_54
{
    text-align:left;
	left:0px;
	width:337px;
	margin:0px;
	font-size:14px;
	line-height:15px;
	top:2px;
	
}

#_55
{
    width:111px;
	height:19px;
	left:549px;
	top:1029px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:14px;
	text-decoration:underline;
	color:#0088cc;
	overflow:visible;
	line-height:14px;
	white-space:nowrap;
	
}

#_56
{
    text-align:left;
	left:0px;
	width:111px;
	margin:0px;
	font-size:14px;
	line-height:14px;
	top:3px;
	
}

#_57
{
    width:61px;
	height:30px;
	left:52px;
	top:1202px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	
}

#_58
{
    width:26px;
	height:19px;
	left:124px;
	top:1207px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:14px;
	color:#515151;
	overflow:visible;
	line-height:14px;
	white-space:nowrap;
	
}

#_59
{
    text-align:left;
	left:0px;
	width:26px;
	margin:0px;
	font-size:14px;
	line-height:14px;
	top:3px;
	
}

#_62
{
    width:0px;
	height:19px;
	left:495px;
	top:1183px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:14px;
	color:#515151;
	overflow:visible;
	line-height:14px;
	white-space:nowrap;
	
}

#_63
{
    text-align:left;
	left:0px;
	width:0px;
	margin:0px;
	font-size:14px;
	line-height:14px;
	top:3px;
	
}

#_64
{
    width:82px;
	height:19px;
	left:469px;
	top:1183px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:14px;
	color:#515151;
	overflow:visible;
	line-height:14px;
	white-space:nowrap;
	
}

#_65
{
    text-align:left;
	left:0px;
	width:82px;
	margin:0px;
	font-size:14px;
	line-height:14px;
	top:3px;
	
}

#_66
{
    width:40px;
	height:40px;
	left:432px;
	top:1201px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	line-height:40px;
	font-size:38px;
	font-family:NinjamockBasic2;
	font-style:normal;
	text-align:center;
	color:rgba(104,104,104,1);
	
}

#_67
{
    width:40px;
	height:40px;
	left:489px;
	top:1201px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	line-height:40px;
	font-size:38px;
	font-family:NinjamockBasic2;
	font-style:normal;
	text-align:center;
	color:rgba(104,104,104,1);
	
}

#_68
{
    width:40px;
	height:40px;
	left:542px;
	top:1201px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	line-height:40px;
	font-size:38px;
	font-family:NinjamockBasic2;
	font-style:normal;
	text-align:center;
	color:rgba(104,104,104,1);
	
}

#_69
{
    width:0px;
	height:19px;
	left:825px;
	top:1183px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:Comic Sans MS;
	font-size:14px;
	color:#515151;
	overflow:visible;
	line-height:14px;
	white-space:nowrap;
	
}

#_70
{
    text-align:left;
	left:0px;
	width:0px;
	margin:0px;
	font-size:14px;
	line-height:14px;
	top:3px;
	
}

#_71
{
    width:197px;
	height:42px;
	left:510px;
	top:332px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:3px;
	border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-ms-border-bottom-left-radius:4px;
	-o-border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-ms-border-bottom-right-radius:4px;
	-o-border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-ms-border-top-left-radius:4px;
	-o-border-top-left-radius:4px;
	border-top-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-top-right-radius:4px;
	-ms-border-top-right-radius:4px;
	-o-border-top-right-radius:4px;
	overflow:hidden;
	border-color:#ccc;
	border-style:solid;
	background:#fff;
	font-family:Comic Sans MS;
	font-size:14px;
	color:#515151;
	line-height:0px;
	
}

svg:not(:root)
{
    overflow:visible;
	
}

.placeholder
{
    border:1px solid #5C5C5E;
	
}

.placeholder:before, .placeholder:after
{
    content:" ";
	width:1px;
	background:yellow;
	display:block;
	transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	-o-transform-origin:0 0 0;
	-moz-transform-origin:0 0 0;
	-ms-transform-origin:0 0 0;
	position:absolute;
	left:-1px;
	top:0;
	background-color:#5C5C5E;
	
}

.placeholder:after
{
    left:100%;
	
}

#_2:before
{
    transform:rotate(-63.81188930251915deg);
	-webkit-transform:rotate(-63.81188930251915deg);
	-o-transform:rotate(-63.81188930251915deg);
	-ms-transform:rotate(-63.81188930251915deg);
	-moz-transform:rotate(-63.81188930251915deg);
	height:77.97793759742936;
	
}

#_2:after
{
    transform:rotate(63.81188930251915deg);
	-webkit-transform:rotate(63.81188930251915deg);
	-o-transform:rotate(63.81188930251915deg);
	-ms-transform:rotate(63.81188930251915deg);
	-moz-transform:rotate(63.81188930251915deg);
	height:77.97793759742936;
	
}

.nm-label
{
    margin:0;
	
}

ol.nm-label *, ul.nm-label *
{
    position:static;
	
}

.nm-label p
{
    margin-bottom:0;
	
}

ul, ol
{
    padding:0;
	
}

ol > li > ol
{
    margin-left:8px;
	
}

ul > li > ul
{
    margin-left:8px;
	
}

ol.nm-label, ol.nm-label ol
{
    counter-reset:item;
	
}

ol.nm-label li:not(.skip):before
{
    content:counters(item, ".") " ";
	counter-increment:item;
	
}

ol.nm-label li.skip:before
{
    content:"\a0";
	
}

ul.nm-label
{
    padding-left:20px;
	
}

ul.nm-label, ul.nm-label ul
{
    list-style-type:disc;
	
}

ul.nm-label li
{
    display:list-item;
	
}

ul.nm-label li.skip
{
    display:block;
	
}

ul.nm-label li.skip:before
{
    content:"\a0";
	
}

#_26:before
{
    transform:rotate(-50.33739998844269deg);
	-webkit-transform:rotate(-50.33739998844269deg);
	-o-transform:rotate(-50.33739998844269deg);
	-ms-transform:rotate(-50.33739998844269deg);
	-moz-transform:rotate(-50.33739998844269deg);
	height:420.48751503547584;
	
}

#_26:after
{
    transform:rotate(50.33739998844269deg);
	-webkit-transform:rotate(50.33739998844269deg);
	-o-transform:rotate(50.33739998844269deg);
	-ms-transform:rotate(50.33739998844269deg);
	-moz-transform:rotate(50.33739998844269deg);
	height:420.48751503547584;
	
}

#_36:before
{
    transform:rotate(-54.168667595008046deg);
	-webkit-transform:rotate(-54.168667595008046deg);
	-o-transform:rotate(-54.168667595008046deg);
	-ms-transform:rotate(-54.168667595008046deg);
	-moz-transform:rotate(-54.168667595008046deg);
	height:418.2670694533175;
	
}

#_36:after
{
    transform:rotate(54.168667595008046deg);
	-webkit-transform:rotate(54.168667595008046deg);
	-o-transform:rotate(54.168667595008046deg);
	-ms-transform:rotate(54.168667595008046deg);
	-moz-transform:rotate(54.168667595008046deg);
	height:418.2670694533175;
	
}

#_48:before
{
    transform:rotate(-54.168667595008046deg);
	-webkit-transform:rotate(-54.168667595008046deg);
	-o-transform:rotate(-54.168667595008046deg);
	-ms-transform:rotate(-54.168667595008046deg);
	-moz-transform:rotate(-54.168667595008046deg);
	height:418.2670694533175;
	
}

#_48:after
{
    transform:rotate(54.168667595008046deg);
	-webkit-transform:rotate(54.168667595008046deg);
	-o-transform:rotate(54.168667595008046deg);
	-ms-transform:rotate(54.168667595008046deg);
	-moz-transform:rotate(54.168667595008046deg);
	height:418.2670694533175;
	
}

#_57:before
{
    transform:rotate(-63.81188930251915deg);
	-webkit-transform:rotate(-63.81188930251915deg);
	-o-transform:rotate(-63.81188930251915deg);
	-ms-transform:rotate(-63.81188930251915deg);
	-moz-transform:rotate(-63.81188930251915deg);
	height:77.97793759742936;
	
}

#_57:after
{
    transform:rotate(63.81188930251915deg);
	-webkit-transform:rotate(63.81188930251915deg);
	-o-transform:rotate(63.81188930251915deg);
	-ms-transform:rotate(63.81188930251915deg);
	-moz-transform:rotate(63.81188930251915deg);
	height:77.97793759742936;
	
}

#_32
{
    left:0px;
	top:11px;
	width:1024px;
	height:null;
	
}

#_33
{
    width:1024px;
	height:null;
	left:0px;
	top:11px;
	fill:none;
	stroke:#686868;
	stroke-width:1;
	
}

#_60
{
    left:0px;
	top:1138px;
	width:1024px;
	height:3px;
	
}

#_61
{
    width:1024px;
	height:3px;
	left:0px;
	top:1138px;
	fill:none;
	stroke:#000000;
	stroke-width:1;
	
}
